*.ede
#*
src/smh/#*
src/tests/#*
include/smh/#*
.*
*~
*.py[cod]

# C extensions
*.so
*.[oa]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

clusters/
data/
imgs/
report.pdf
report.rst
*.swo
*.swp
Makefile
.clang_complete