{% extends "default.html" %}

{% from 'macros.html' import printinfo %}

{% block content %}
<h1>Cluster WebApp</h1>

Content of set of clusters {{filename}}

<p>
{{printinfo(info)}}
</p>

<form action="/wordclouds/{{filename}}" method="get">
<ul>
{% for score,num,size,iid in content %}
<p>
<input type="checkbox" name="iid{{iid}}" value="{{iid}}">
Cluster number {{iid}} with id {{num}} with size {{size}} {% if score %} {{score}} {% endif %}
</input>
    <a href="/vocab/{{corpus}}/{{type}}/{{filename}}/{{iid}}">[vocab]</a>
    <a href="/wordcloud/{{corpus}}/{{type}}/{{filename}}/{{iid}}">[wordcloud]</a>
    <a href="/showimage/size/{{corpus}}/{{type}}/{{filename}}/">[Hist Size]</a>
    <a href="/showimage/cover/{{corpus}}/{{type}}/{{filename}}/">[Hist cover]</a>
</p>
{% endfor %}
</ul>
<input type="submit" value="Draw wordclouds">
</form>

{% endblock %}
