{% extends "default.html" %}

{% block scripts %}
<script src="{{url_for('static',filename="js/d3.v3.min.js")}}"></script>
<script src="{{url_for('static',filename="js/d3.layout.cloud.js")}}"></script>

{% endblock %}


{% block content %}
<h1>Cluster WebApp</h1>
<p>
Wordcouls dfor the first 200 words of cluster
</p>

{% if info %}
{{info}}
{% endif %}

{% for size,num,iid,content in contents %}

<center>
<script>
  var fill = d3.scale.category20b();

  d3.layout.cloud().size([800, 640])
      .words([
        {% for fsize,word in content %}
        { text: "{{word}}", size:{{fsize}} },
        {% endfor %}
        ])
      .rotate(function() { return ~~(Math.random() * 2) * 90; })
      .font("Impact")
      .fontSize(function(d) { return d.size; })
      .on("end", draw)
      .start();

  function draw(words) {
    d3.select("body").append("svg")
        .attr("width", 800)
        .attr("height", 640)
      .append("g")
        .attr("transform", "translate(400,320)")
      .selectAll("text")
        .data(words)
      .enter().append("text")
        .style("font-size", function(d) { return d.size + "px"; })
        .style("font-family", "Impact")
        .style("fill", function(d, i) { return fill(i); })
        .attr("text-anchor", "middle")
        .attr("transform", function(d) {
          return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
        })
        .text(function(d) { return d.text; });
  }
</script>
    Cluster number {{iid}} with id {{num}} and size {{size}}
</center>
{% endfor %}

{% endblock %}
